{% extends 'baseModal.html' %}
{% include "formMacros.html" %}
{% include "uiMacros.html" %}

{% block modalClass %}apos-redirects-editor apos-ui-modal-no-sidebar{% endblock%}

{% block modalLabel %}
  Manage Redirects
{% endblock%}

{% block modalControls %} 
  {{ renderProgressBtn({dataAttrs: 'data-new', float: 'right', color: 'base', label: 'New Redirect'}) }}
  {{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'left', arrow: 'left', label: 'Done'}) }}
{% endblock %}

{% block modalBody %}
  <table class="apos-tags apos-manage-table">
    <tbody data-list class="apos-redirects">
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Reason</th>
        <th>Actions</th>
      </tr>
      <tr data-item class="apos-redirect apos-template">
        <td class="apos-redirects-from"><input name="from" /></td>
        <td class="apos-redirects-to"><input name="to" /></td>
        <td class="apos-redirects-reason"><input name="reason" /></td>
        {# Do not use apos-save as that triggers a save on the whole dialog #}
        <td class="apos-actions">
          {{ renderProgressBtn({dataAttrs: 'data-update', float: 'left', color: 'base', label: 'Save'}) }}
          {{ renderProgressBtn({dataAttrs: 'data-remove', float: 'left', color: 'base', label: 'Remove'}) }}
        </td>
      </tr>
    </tbody>
  </table>
{% endblock%}
