{% include "formMacros.html" %}

<div class="apos-redirects-editor apos-ui apos-modal apos-template">
  <h3>
    {% block title %}
      Manage Redirects
    {% endblock %}
  </h3>
   <div class="apos-modal-body">
    <div class="apos-modal-tabs">
<!--       <div class="apos-modal-tab-control">
        <div class="apos-modal-tab-title apos-active" data-tab="basics">
          <i class="icon-list"></i>
          Redirects
        </div>
      </div> -->
      <div class="apos-redirects-headers">
        <span class="apos-redirects-headers-title">From</span>
        <span class="apos-redirects-headers-title">To</span>
        <span class="apos-redirects-headers-title">Reason</span>
        <span class="apos-redirects-headers-title">Actions</span>
      </div>
      <div class="apos-modal-tab apos-active" data-tab-id="basics" >
        <div class="apos-modal-tab-content">
          <table data-list class="apos-redirects">
            <tr data-item class="apos-redirect apos-template">
              <td class="apos-redirects-from"><input name="from" /></td>
              <td class="apos-redirects-to"><input name="to" /></td>
              <td class="apos-redirects-reason"><input name="reason" /></td>
              {# Do not use apos-save as that triggers a save on the whole dialog #}
              <td class="apos-actions">
                <a href="#" class="apos-button apos-control apos-update" data-update>Save</a>
                <a href="#" class="apos-button apos-control apos-remove" data-remove>Remove</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div> 
    <div class="apos-modal-footer">
      {% block additionalFooterItems %}
      {% endblock %}
      <div class="apos-modal-footer-buttons">
        <a href="#" data-new class="apos-button apos-control apos-new">New Redirect</a>
        <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Done</a>
      </div>
    </div>
  </div>
</div>
