.apos-redirects {
  // Bare minimum to make it look usable out of the box
  td, th {
    padding: 5px;
    text-align: left;
  }
}

.apos-saveing
{
  // background-color: orange;
  animation: saveing 1s;
  -webkit-animation: saveing 1s; /* Safari and Chrome */
}

@keyframes saveing
{
from {background-color: orange;}
to {background-color: transparent;}
}

@-webkit-keyframes saveing /* Safari and Chrome */
{
from {background-color: orange;}
to {background-color: transparent;}
}